
html {
    font-size: 62.5%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30rem;
    width: 40rem;
    background-color: grey;
}

.bloc {
    width: 9rem;
    height: 14rem;
    align-self: center;
}

p {
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
}

#one, #six {
    background-color: #1abc9c;
}

#two, #seven {
    background-color: #3498db;
}

#three, #eight {
    background-color: #9b59b6;
}

#four {
    background-color: #e67e22;
}

#five {
    background-color: #e74c3c;
}